# Porta onde o servidor Express irá rodar
PORT=3001

# String de Conexão com seu banco de dados PostgreSQL
DATABASE_URL="postgresql://postgres:sua_senha_aqui@localhost:5432/finance_db?schema=public"

# Suas credenciais obtidas no Dashboard da Pluggy (Ambiente de Sandbox/Testes)
PLUGGY_CLIENT_ID="6dbe7f2a-3ecf-4a55-86d6-6f13231659b1"
PLUGGY_CLIENT_SECRET="155eb978-7f07-4464-a9ff-dac859552d4b"
